In [ ]:
'''
Live Session
    -attendance
    -github client to clone is437 repo
    -jupyter lab
    -solve select problems.
    -upload ipynb to slack
    

'''

### Types and strings

In [1]:
# 1.1 Assign a variable `s` to a string literal.

In [ ]:
# 1.2 Assign a variable p as an integer.

In [ ]:
# 1.3 Print a string literal.

In [ ]:
# 1.4 Assign a variable `answer` to be the concatination of variables `s` and p``

In [ ]:
# 1.5
d = 20
m = 10
y = 2015
# Print the date stored as the variables above as a string in the format yyyy-mm-dd

In [ ]:
# 1.6
m = 15
s = 0
h = 10
# print the time stored in the variables above in the format hh:mm:ss

In [ ]:
# 1.7 Add the string `PM` to the end of the string `ts` defined below. Save the result as a new string `ts`:
ts = "10:44"

### Collections

In [ ]:
# 2.1 Create a list of ints, `l`

In [ ]:
# 2.2 Create a list of strings literals `sl`

In [ ]:
# 2.3 print the string `FROM` from the list below:
col = "*"
table = "users"
sql = ["SELECT",col,"FROM",table]

In [ ]:
# 2.4 assign the list above as single string, `ss` which is composed of the list items seperated by spaces

In [ ]:
# 2.5 add the following strings (in order_by) to the string `ss`
ofn = "name"
order_by = ["ORDER", "BY", ofn]

In [ ]:
# 2.6 Assign a new list `sql_l` which contains all the items from sql and order_by.  This list should not contain any lists.

### Loops / iteration

In [ ]:
# 3.1 Create a loop which prints each item in the list bleow on it own line with a number next to it

ml = ['Boston','New York','Los Angles','Dallas']

In [1]:
# Create a loop which prints each kv pair like so (whitespace does not matter):
'''
City       | Temp.
========== | ======
Boston     | 43
New York   | 47
Los Angles | 71
Dallas     | 68
'''
wx = {'Boston':43,'New York':47,'Los Angles':71,'Dallas':68}

In [ ]:
# 3.2 create a loop which creates the same output as above except it stores it to a variable 's'

In [ ]:
# 2.2Create a loop which generates a list of all the numbers between 0 and 10.  print the list

In [7]:
# Create a loop which generates a list of all the letters between a and z.  print the list 
#HINT: (use chr codes)
print(chr(100))
print(chr(101))
print(chr(102))

d
e
f

In [ ]:
#create a loop which creates a dictionary where the values are the letter and the keys 
#   are the orer of that letter in the alphabet (a-z).  Example:
'''
{'1':'a','2':'b'...}

'''

In [ ]:
# Create a loop which prompts the user for a number, adds it to a list until the user enters 'exit'.  
#   The list should be printed on exit

In [ ]:
'''
a | b | c
=============
1 | 2 | 3
4 | 5 | 6
'''

# Write a script which prints the string below called 'data_str' in the format above

data_str = '''a,b,c
1,2,3
4,5,6'''

In [ ]:
# Write a script which takes the string data below and prints the day and ip of each request
log_data = '''67.249.20.246 - - [06/Mar/2018:15:03:34 +0000] "GET /assessment/KHSV HTTP/1.1" 200 2895 "https://hilite.clarksonmsda.org/airports" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.186 Safari/537.36" "-"
67.249.20.246 - - [06/Mar/2018:15:03:36 +0000] "GET /files/KHSV/5a9c7102c43c4b00115eb111 HTTP/1.1" 200 60543 "https://hilite.clarksonmsda.org/assessment/KHSV" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.186 Safari/537.36" "-"
67.249.20.246 - - [06/Mar/2018:15:03:40 +0000] "GET /getData/KHSV/5a9c7102c43c4b00115eb111 HTTP/1.1" 200 4310723 "https://hilite.clarksonmsda.org/files/KHSV/5a9c7102c43c4b00115eb111" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.186 Safari/537.36" "-"
104.229.180.74 - - [06/Mar/2018:15:05:18 +0000] "GET /airports HTTP/1.1" 200 4471 "https://hilite.clarksonmsda.org/airports" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36" "-"
196.52.43.86 - - [06/Mar/2018:16:48:54 +0000] "GET / HTTP/1.0" 200 2518 "-" "Mozilla/5.0(WindowsNT6.1;rv:31.0)Gecko/20100101Firefox/31.0" "-"
38.142.119.122 - - [06/Mar/2018:17:40:06 +0000] "GET / HTTP/1.1" 200 2518 "-" "-" "-"
46.161.55.107 - - [06/Mar/2018:18:07:05 +0000] "GET /css/main_page.css HTTP/1.1" 404 1635 "-" "python-requests/2.18.4" "-"
213.202.230.144 - - [06/Mar/2018:18:19:35 +0000] "\x03\x00\x00/*\xE0\x00\x00\x00\x00\x00Cookie: mstshash=Administr" 400 173 "-" "-" "-"'''