In [ ]:
'''
Video - pymysql module:
-connection,cursor,sql backticks,execute(),tokens, sql errors


'''

In [ ]:
'''
Day 1 

Lecture - mysql connectivity via pymysql.
    -inserting data 
    -selecting data
Driver - Create a function which inserts an airline flight record into a table.  
Assignment - Create a function which inserts a user into a 3 column table. The function should take 2 args - firstname and lastname.  The table shouls 


'''

In [23]:
import pymysql
import secrets

conn = pymysql.connect(host=secrets.host, port=3306, user=secrets.user,
                       passwd=secrets.passwd, db='is437', autocommit=True)

cur = conn.cursor(pymysql.cursors.DictCursor)

sql = '''DROP TABLE IF EXISTS `conlontj_test`;'''
cur.execute(sql)


sql = '''
CREATE TABLE IF NOT EXISTS `conlontj_test` (
  `id` int(5) NOT NULL AUTO_INCREMENT,
  `device` varchar(10) NOT NULL,
  `msg` varchar(20) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 AUTO_INCREMENT=1 ;
'''
cur.execute(sql)

0

In [24]:

sql = '''INSERT INTO `conlontj_test` (`device`, `msg`) VALUES (%s, %s);'''
cur.execute(sql,('device_1','system start'))
cur.execute(sql,('device_1','init'))

1

In [25]:

sql = '''INSERT INTO `conlontj_test` (`device`, `msg`) VALUES (%s, %s);'''
vals = ['device_2','system start']
print(sql,vals)
cur.execute(sql,vals)

INSERT INTO `conlontj_test` (`device`, `msg`) VALUES (%s, %s); ['device_2', 'system start']

1

In [26]:
#if there is a SQL error:
sql = '''INSERT INTO `conlontj_test` (`device` `msg`) VALUES (%s, %s);'''
cur.execute(sql,('device_1','system start'))

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '`msg`) VALUES ('device_1', 'system start')' at line 1")

In [29]:
sql = '''SELECT * FROM `conlontj_test`;'''
cur.execute(sql)
for row in cur:
    print(row['device'])

device_1
device_1
device_2

In [28]:
sql = '''SELECT `device`, COUNT(*) AS count FROM `conlontj_test` GROUP BY `device`;'''
cur.execute(sql)
for row in cur:
    print(row['count'],row['device'])

2 device_1
1 device_2

In [30]:
sql = '''SELECT * FROM `conlontj_test` WHERE `device` = %s;'''
cur.execute(sql,('device_1'))

for dev in cur:
    print(dev['id'],dev['device'])

1 device_1
2 device_1

In [ ]:
sql = '''DROP TABLE IF EXISTS `conlontj_test`;'''
cur.execute(sql)